@import 'base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


/* FOR CHESSBOARD COMPONENT */

#chessboard {
  width: 70%;

  display: flex;
  flex-direction: row;
}

#squares_letters {
  margin-top: 22px;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

#squares_letters p {
  width: 20px;

  margin: 1px;
  text-align:center;
  align-content:center;
}

table {
  table-layout: fixed;
  height: 100%;
}


td {
  text-align:center;
}

.square {
  border:1px solid black;
}

/*
tbody {
  border: 10px solid saddlebrown;
}
*/

tbody tr:nth-child(even) td:nth-child(even){
  background-color: black;
}

tbody tr:nth-child(even) td:nth-child(odd){
  background-color: white;
}

tbody tr:nth-child(odd) td:nth-child(odd){
  background-color: black;
}

tbody tr:nth-child(odd) td:nth-child(even){
  background-color: white;
}

img {
  width: 100%;
  object-fit: contain;

}
