@import 'base.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

.no-border {
  border: none !important;
} 


/* FOR CHESSBOARD COMPONENT */

.chessboard-container {
  display: grid;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 columns */
  grid-template-rows: repeat(8, 1fr); /* 8 rows */
  width: 96vmin; /* Board is a square, responsive to viewport size */
  height: 96vmin; /* Matches width for a perfect square */
  border: 2px solid black; /* Optional border around chessboard */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow */
  grid-column: 2;
  grid-row: 2;
}

.chessboard.disabled * {
  cursor: default;
  pointer-events: none;
}

.notation-top {
  display: flex;
  justify-content: space-around;
  width: 96vmin;
  grid-column: 2;
  grid-row: 1;
}

.notation-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 96vmin;
  padding: 0 4px;
  width: fit-content;
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
}

.square {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1E1E1E;
  color: #fff;
}

.chessboard-container.inversed .chessboard,
.chessboard-container.inversed .square {
  transform: rotate(180deg);
}

.chessboard-container.inversed .notation-top,
.chessboard-container.inversed .notation-left {
  transform: rotate(180deg);
}

.chessboard-container.inversed .notation-top span,
.chessboard-container.inversed .notation-left span {
  transform: rotate(180deg);
}

/* Alternating square colors */
.chessboard div:nth-child(even) div:nth-child(odd) {
  background-color: #eee;
}
.chessboard div:nth-child(even) div:nth-child(even) {
  background-color: #444;
}
.chessboard div:nth-child(odd) div:nth-child(odd) {
  background-color: #444;
}
.chessboard div:nth-child(odd) div:nth-child(even) {
  background-color: #eee;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  cursor: grab;
}

.chessboard .grabbing {
  position: absolute;
  cursor: grabbing;
}

.highlight {
  background-color: #efca32 !important;
}

.highlight-border {
  border: 3px solid #efca32 !important;
}

/* LEADERBOARD TABLE CSS */

.leaderboard, .leaderboard th, .leaderboard td {
  border: 1px solid rgba(136, 136, 136, 0.25);
}
.leaderboard {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border: 3px solid var(--p-button-primary-border-color);
  color: var(--color-text);
}
.leaderboard th {
  background: var(--p-button-primary-background);
  color: var(--p-button-primary-color);
  font-weight: 600;
  text-align: left;
  padding: 1rem 1rem;
}
.leaderboard td {
  padding: 0.5rem 1rem;
}
.leaderboard tbody tr:nth-child(1){
  background-color: rgb(255, 215, 0, 0.5);
}
.leaderboard tbody tr:nth-child(2){
  background-color: rgb(192, 192, 192, 0.5);
}
.leaderboard tbody tr:nth-child(3){
  background-color: rgb(205, 127, 50, 0.5);
}

/* GAME HISTORIES TABLE CSS */

.gameHistory, .gameHistory th, .gameHistory td {
  border: 1px solid rgba(136, 136, 136, 0.25);
}
.gameHistory {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border: 3px solid var(--p-button-primary-border-color);
  color: var(--color-text);
  cursor: default;
}
.gameHistory th {
  background: var(--p-button-primary-background);
  color: var(--p-button-primary-color);
  font-weight: 600;
  text-align: left;
  padding: 1rem 1rem;
}
.gameHistory td {
  padding: 0.5rem 1rem;
}
.gameHistory tbody tr {
  cursor: pointer;
}
.gameHistory tbody tr:hover {
  background-color: rgba(100, 100, 100, 0.25);
}


/* ROOMS TABLE CSS */

.rooms, .rooms th, .rooms td {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.rooms {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border: 3px solid var(--p-button-primary-border-color);
  color: white;
}
.rooms th {
  background: var(--p-button-primary-background);
  color: var(--p-button-primary-color);
  font-weight: 600;
  text-align: left;
  padding: 1rem 1rem;
}

.rooms a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--color-text);
}






.tag {
  background-color: black;
  color: white;
  padding: 1px 5px;
  border-radius: 100px;
  font-size: small;
}

/* TOGGLE ON-OFF BUTTON CSS */
.on-off-custom.p-togglebutton, .on-off-custom.p-togglebutton span {
  color: white !important;
}
.on-off-custom.p-togglebutton::before {
  display: none;
}
.on-off-custom.p-togglebutton.p-togglebutton-checked {
  background: rgb(113, 16, 0) !important;
}
.on-off-custom.p-togglebutton {
  background: rgb(0, 96, 44) !important;
}

/* TOAST BG FOR DARK THEME */
@media (prefers-color-scheme: dark) {
  .p-toast-message {
    --p-toast-info-background: rgba(14, 26, 47, 0.75);
    --p-toast-success-background: rgba(14, 47, 19, 0.75);
    --p-toast-error-background: rgba(47, 14, 14, 0.75);
    --p-toast-warn-background: rgba(47, 43, 14, 0.75);
  }
}
