@import 'base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.table {
  border: 10px solid saddlebrown;
}

td{
  text-align:center;
  width:100px;
  height:100px;
  border:1px solid black;
}

tbody tr:nth-child(even) td:nth-child(even){
  background-color: black;
}

tbody tr:nth-child(even) td:nth-child(odd){
  background-color: white;
}

tbody tr:nth-child(odd) td:nth-child(odd){
  background-color: black;
}

tbody tr:nth-child(odd) td:nth-child(even){
  background-color: white;
}

.square {
  min-height: 40px;
  min-width: 40px;
  max-height: 100px;
  max-width: 100px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

